:root {
  --branco-cinza: #ffffcc;
  --verde-escuro: #4CAF50;
  --cinza: #ccc;

  --preto: #050505;
  --preto-50: rgba(5, 5, 5, 0.5);
  --preto-80: rgba(5, 5, 5, 0.8);
  --cinza-200: #7c7f7f;
  --cinza-400: #333;
  --cinza-500: #2e2e2e;
  --cinza-600: #1c1c1c;
  --cinza-700: #121212;
}

/* Pseudo-classe: Aplica ao input quando ele está em foco (selecionado pelo usuário). */
input:focus {
    background-color: var(--branco-cinza);
    border: 2px solid var(--verde-escuro);
}

/* Pseudo-classe de negação: Aplica a todos os inputs que NÃO são do tipo 'submit'. */
input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cinza);
    border-radius: 4px;
}

/* Seletor de Atributo para o botão de submit. */
input[type="submit"] {
    background-color: var(--verde-escuro);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--verde-escuro);
}

label {
    display: block; /* Ocupa a linha inteira */
    padding-top: 10px;
}

h4{
    margin-bottom: 1rem;
}
